@keyframes reset-pass__card{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 5deg;
    }
    100%{
        rotate: 0deg;
    }
}

.reset-pass__card{
    display: flex;
    background-image: url("../../../img/reset_pass_card.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 60%;
    margin: auto;
}
.reset-pass__card:hover{
    animation: reset-pass__card;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.reset-pass__card div{
    rotate: -11.08deg;
    font-size: 30px;
    margin: auto;
}
