.pages__main-component{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pages__search-bar{
    display: flex;
    justify-content: space-between;
    background-color: #FCFFEA;
    padding: 2% 4%;
    margin: 3% 1% 1% 1%;
    width: 92%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style:dashed;
    border-color: black;
    border-width: 2px;
    align-self: center;
}

.search-bar__input{
    padding: 1% 1% 1% 4%;
    width: 85%;
}

.pages__search-img{
    width: 6%;
    margin: 1%;
}

.pages__pages-list {
    background-color: #fff;
    width: 92%;
    align-self: center;
    margin-top: 2%;
    border: 2px dashed black;
    max-height: 77vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.add-new-page{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 2%;
    margin: 1% 0;
    column-gap: 2%;
}

.add-new-page:hover {
    background-color: #bebebe;
}

.add-new-page:hover img, p{
    opacity: 100%;
}

.new-page-icon {
    width: 9%;
}

.create-page-form{
    display: flex;
    flex-direction: column;
}

.create-page__header{
    font-size: 30px;
    margin: 20% auto;
}

.create-page__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40%;
}

.create-page__inputs label{
    font-size: 20px;
}

.create-page__inputs input{
    background-image: url('../../../img/input.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 18px;
    width: 90%;
    padding: 7% 15%;
}

.create-page__btn{
    margin: 20% auto;
    padding: 5% 10%;
    background-color:rgb(121, 200, 78);
    border-radius: 35px;
}

.create-page__btn:hover{
    background-color:rgb(88, 145, 57);
}