<main style='background-color:#f8f8f8;'>
    <div style="display: flex;width: 100%;align-items: center;justify-content: center;">
        <a style="padding: 15px;width: 23%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;column-gap: 5px;stroke: black;stroke-dasharray: 4px;"
            href="http://localhost:9090/recover-password/<%= token %>">
            <label style="font-size: 14px;">Далі</label>
            <img style="width: 22px;" src='https://upload.wikimedia.org/wikipedia/commons/0/09/Eraser_icon.svg'
                alt="next" />
        </a>
    </div>
</main>